body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
    z-index: 1000;
}

header.show {
    transform: translateY(0);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    font-family: 'Arial', sans-serif;
    letter-spacing: 2px;
}

nav ul li a:hover {
    background-color: #575757;
}

.fullscreen {
    height: 100vh;
    background: url("../img/fon.jfif") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
}

.overlay h1 {
    color: #fff;
    font-size: 48px;
    font-family: 'Arial', sans-serif;
    letter-spacing: 5px;
    margin: 0;
}

section {
    padding: 100px 20px;
    min-height: 100vh;
    background-color: #f2f2f2;
}

#about-us { background-color: #f2f2f2; }
#tours { background-color: #e6e6e6; }
#price { background-color: #cccccc; }
#faq { background-color: #b3b3b3; }
#contacts { background-color: #999999; }
